*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/bg01.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

/* Start HEADER */

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background: pink;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

ul.top-menu{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    font-family:fantasy;
    font-size: 19px;
    letter-spacing: 4px;
}
ul.top-menu li {
    list-style: none;
}
ul.top-menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    padding: 18px 33px;
}
ul.top-menu li a:hover {
    background: rgb(255, 136, 209);
    padding: 20px 35px;
    border-radius: 5px;
}

.icon {
    display: grid;
    margin-top: 15px;
    color: white;
    line-height: 33px;
    font-size: 18px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-shadow: 0 0 0.5em rgb(128, 27, 97), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(150, 6, 185);
}
.icon h2{
    margin-left: 20px;
}
/* end HEADER */

/* Start Content */

.content {
    width: 100%;
    height: auto;
}

.main-logo {
    color: white;
    text-shadow: 0 0 0.2em rgb(255, 191, 191), 0 0 0.2em #87F, 0 0 0.2em #87F;
    display: grid;
    grid-template-rows: 260px ;
    font-size: 50px;
    align-items: 150px;
    text-align: center;
    justify-items: center;
    margin-top: 8%;
    font-family: 'Pattaya', sans-serif;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-right {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    display: grid;
    justify-items: right;
    margin-bottom: auto;
    position: absolute;
    right: 200px;
}
.info-right h1{
    font-size: 25px;
    font-family: 'Sriracha', cursive;
}

.info-right h2 {
    font-size: 20px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.info-left {
    font-size: 23px;
    font-family: 'Sriracha', cursive;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 200px;
}

.go {
    text-decoration: none;
    text-align: center;
    margin-top: 130px;
    font-size: 22px;
}

.go a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    background-color: rgba(251, 121, 255, 0.911);
    transition: .4s ease-in-out;
    padding: 25px;
    border-color: blueviolet;
    border-style: dashed;
    border-radius: 15px;
}

.go a:hover {
    background: rgb(255, 92, 141);
    padding: 25px;
    border-radius: 15px;
}

/* SHOP INFORMATION */
.item-list {
    margin-top: 30px;
    background-color: rgb(238, 238, 201,0.5);
    width: 1260px;
    height: auto;
    border-style: groove;
    border-color: rgb(255, 107, 235);
    border-radius: 15px;
}

.item-grid {
    display: grid;
    grid-template-columns: 420px 440px 400px;
}

.picture {
    padding: 25px 25px;
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
}
.picture img {
    object-fit: cover;
    height: 100%;
    width: 200px;
    border-radius: 10px;
}
.title {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sub-title {
    margin-top: 15px;
    font-size: 30px;
}

.sub-title h2 {
    padding: 3px;
    background-color: rgb(200, 64, 241);
    text-shadow: 5px 5px pink;
    border-radius: 8px;
}


.sub-info {
    margin-left: 25px;
    font-size: 15px;
    color: rgb(47, 0, 255);
    text-shadow: 2px 3px rgb(177, 165, 255);
}

.price {
    margin: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(237, 103, 255);
    font-family: 'Sriracha', cursive;
    background-color: rgb(255, 255, 255);
    border-style: ridge;
    border-color: rgb(255, 0, 242);
    padding: 20px 25px;
    border-radius: 10px;
}

.top-item {
    display: grid;
    margin-top: 20px;
    text-align: center;
    grid-template-columns: 420px 440px 400px;
}

.sub-top-item {
    background-color: rgba(205, 97, 255, 0.7);
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(153, 0, 255);
    border-style: double;

}

/* footer */

footer {
    margin-top: 10px;
    position: absolute ;
    width: 100%;

}

.footer-image {
    width: auto;
}

.footer-info {
    color: white;
    background-color: rgb(196, 68, 255);
    width: 100%;
    bottom: 0;
}

.first {
    margin-left: 20px;
    background-color: none;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.first h1 {
    margin-top: 30px;
    padding: 6px;
    padding-right: 6px;
    background-color: purple;
    border: 2px solid green;
    border-radius: 13px;
    text-align: center;
    text-shadow: 4px 3px rgb(29, 13, 36);
    color: blanchedalmond;
}

.first h2 {
    margin-top: 8px;
    padding: 10px;
    border: 3px solid purple;
    border-style: dashed;
    margin-bottom: 30px;
    color: rgb(95, 45, 141);
    text-shadow: 2px 2px rgb(179, 114, 179,0.7);
}

.map {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}